<nav *ngIf="this.authService.isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Budgets</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto pe-3">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/budgets">Budgets</a>
        <a class="nav-link" style="cursor: pointer;" (click)="logout()" *ngIf="this.authService.isLoggedIn">Log Out</a>
      </div>
    </div>
  </div>
</nav>

<app-toasts class="margin-top"></app-toasts>
<router-outlet></router-outlet>

<div *ngIf="this.authService.isLoggedIn" class="footer-control bg-dark">
  <p> Design by 2021© Full-Stack Developer Juan Mata Reyes. | All rights reserved.</p>
</div>


